{% extends "forum/base.html" %}
{% block content %}    
<h1>Welcome to DocUSum</h1>
<p>Here you will be able to save yourself time by receiving summarized versions of any articles or documents that you input.</p>
<h3 style="color:grey;">Getting Started</h3>
<p>We suggest that you first create a free account in order to gain access to all the features that DocUSum offers.</p>
<p>After this, you will be able to summarize articles on the web, documents, or plain text without a length restriction. You will also be able to ask questions or post comments on our forum.</p>
<h3 style="color:grey;">How to get a summary</h3>
<p>There are 3 ways of getting a summary:</p>
<ol>
	<li><strong>Plain Text: </strong>Simply copy and paste the text you would like to be summarized into the box.</li>
	<li><strong>Upload File: </strong>Upon pressing the upload file button you will be able to choose the file to upload. Make sure that it is the right type though.</li>
	<li><strong>URL: </strong>If you would like to summarize an article on the web, paste the URL into the box and click summarize.</li>
</ol>
<h3 style="color:grey;">Disclaimer</h3>
<p>Please note that DocUSum makes no guarantees about the quality of the summaries generated. Although it utilizes some of the most sophisticated NLP research, the algorithms it uses are still imperfect and the quality of the summary will often degrade with the length of the text inputted.</p>
{% endblock content %}
